@page {
    size: A4;
    margin: 2cm 2.5cm;
}

body {
    direction: ltr;
    text-align: left;
    font-family: "DejaVu Sans", Arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
    line-height: 1.8;
    color: #2d3436;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    color: #0984e3;
    margin-top: 1.5em;
    margin-bottom: 0.6em;
    padding-bottom: 0.4em;
    border-bottom: 3px solid #0984e3;
    line-height: 1.3;
}

h2 {
    font-size: 15pt;
    font-weight: bold;
    color: #2d3436;
    margin-top: 1.8em;
    margin-bottom: 0.7em;
    line-height: 1.4;
}

h3 {
    font-size: 12pt;
    font-weight: bold;
    color: #636e72;
    margin-top: 1.4em;
    margin-bottom: 0.5em;
    line-height: 1.4;
}

p {
    margin-bottom: 1em;
    text-align: justify;
    orphans: 3;
    widows: 3;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

ul, ol {
    margin-left: 1.5em;
    margin-right: 0;
    padding-left: 1em;
    padding-right: 0;
    margin-bottom: 1em;
}

li {
    margin-bottom: 0.5em;
    line-height: 1.7;
}

hr {
    border: none;
    border-top: 1px solid #dfe6e9;
    margin: 2em 0;
}

header {
    margin-bottom: 1.5em;
}

header h1.title {
    font-size: 28pt;
    font-weight: bold;
    text-align: center;
    color: #0984e3;
    border-bottom: 4px solid #0984e3;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

body > h1:first-of-type {
    display: none;
}

blockquote {
    border-left: 4px solid #0984e3;
    border-right: none;
    padding-left: 1em;
    margin-left: 0;
    margin-right: 1.5em;
    color: #636e72;
    font-style: italic;
    background-color: #f8f9fa;
    padding: 0.8em 1em;
}

h1, h2, h3 {
    page-break-after: avoid;
}

li strong {
    color: #0984e3;
}

code {
    font-family: monospace;
    background-color: #f1f2f6;
    padding: 0.1em 0.3em;
    border-radius: 3px;
}
